a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.sticky-navbar {
  border-bottom: 1px solid rgba(255,255,255,0.08) !important;
}

.sticky-navbar .navbar {
  background-color: #000 !important;
}

.sticky-navbar .nav-link {
  color: rgba(255,255,255,0.6) !important;
}

.sticky-navbar .nav-link:hover {
  color: #fff !important;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
