<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,200" />
<!-- Frogmarks Dashboard Template -->
<div class="dashboard-container" [ngStyle]="isFrogmarksGalaxyActive ? { overflow: 'hidden' } : {}">
    <!-- Notification Panel -->
    <div *ngIf="showNotificationPanel" class="notification-panel ps-4 pt-3 pe-4">
      <div class="row">
        <div class="col-8"><b>Notifications</b></div>
        <div class="col-4 text-end pe-4 ">
          <mat-icon 
          class="close-icon type-icon material-symbols-outlined"
          (click)="closeNotificationPanel()">
            close
          </mat-icon>
        </div>
        
      </div>
      <div class="text-center notification-panel-content-empty">
        <div>
          <mat-icon *ngIf="!isLoading" class="notification-panel-content-empty-icon mb-5">campaign</mat-icon>
          <h5><b>No notifications yet</b></h5>
        </div>
        <div>
          &#64;mention someone from your team on a board and check for updates here.
        </div>
      </div>
    </div>
    <!-- Settings Panel -->
    <div *ngIf="showSettingsPanel" class="notification-panel ps-4 pt-3 pe-4">
      <div class="row">
        <div class="col-8"><b>Settings</b></div>
        <div class="col-4 text-end pe-4 ">
          <mat-icon 
          class="close-icon type-icon material-symbols-outlined"
          (click)="closeSettingsPanel()">
            close
          </mat-icon>
        </div>
        
      </div>
      <div>
        <button class="mt-5" style="min-width: -webkit-fill-available;" mat-raised-button (click)="toggleDarkMode()">Toggle Dark Mode</button>
      </div>
      <!-- <div class="text-center notification-panel-content-empty">
        <div>
          <mat-icon *ngIf="!isLoading" class="notification-panel-content-empty-icon mb-5">settings</mat-icon>
          <h5><b>No notifications yet</b></h5>
        </div>
        <div>
          &#64;mention someone from your team on a board and check for updates here.
        </div>
      </div> -->
    </div>
    <!-- Base Row -->
    <div class="row flex-nowrap" style="height: -webkit-fill-available;">
        <!-- Base Sidenav Column -->
        <div class="col-2 base-sidenav-column" 
          [class.open]="isSidenavOpen"
          [class.frogmarks-galaxy-compact]="isFrogmarksGalaxyActive"
          style="max-height: min-content;">
            <!-- Frogmarks Logo -->
            <img *ngIf="this.themeService.getDarkMode()" class="frogmarks-logo" src="../../../../assets/images/logo-light.png">
            <img *ngIf="!this.themeService.getDarkMode()" class="frogmarks-logo" src="../../../../assets/images/logo.png">
            <img class="compact-logo" src="../../../../assets/images/fishing_frog.png">
            <!-- <span style="background-color: blueviolet; 
                         color: white; 
                         padding: 2px 4px 2px 4px; 
                         border-radius: 4px; font-weight: 600; font-size: 10px;">Beta</span> -->
            <!-- Primary Sidenav Contents -->
            <div class="ps-2">

              <!-- Frog-E-Vision -->
              <!--
              <div class="mt-3 ms-1 me-1 align-content-center text-center shadow-sm"
              style="border: 1px solid white; height: 90px; border-radius: 8px; background-color: #f3f3f3; font-size: small;">
                  <label class="fs-5 fw-semibold" style="color: #626262;">{{currentTime | date: 'h:mm a'}}</label>
              </div>
              -->

              <!-- Board Type Selection -->
              <div>
                <ul class="sidenav-list pt-3">
                  <li class="list-item" 
                      (click)="frogmarksGalaxyClicked()"
                      [ngClass]="{ 'loading-container': isLoading, 'frogmarks-galaxy-active': isFrogmarksGalaxyActive }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">explore</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Explore</label>  
                  </li>
                  <li class="list-item"
                      (click)="designCenterClicked()"
                      [ngClass]="{ 'loading-container': isLoading, 'design-center-active': isDesignCenterActive }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">storefront</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Design Center</label>
                  </li>
                  <li class="list-item" 
                      (click)="templatesClicked()"
                      [ngClass]="{ 'loading-container': isLoading, 'templates-active': isTemplatesActive }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">view_quilt</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Templates</label>
                  </li>
                  <li class="list-item disabled" [ngClass]="{ 'loading-container': isLoading }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">history_edu</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Tutorials</label>
                  </li>
                  <!-- <li class="list-item"
                      (click)="favoriteClicked()"
                      [ngClass]="{ 'loading-container': isLoading, 'favorite-filter-active': isFavoritesFilterActive }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon out">person_play</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Shared with me</label>
                  </li> -->
                </ul>
              </div>
              <hr class="ms-2 horizontal-line">

              <!-- Team Selection -->
              <div class="team-section row ms-0 text-nowrap flex-nowrap">
                <div class="col-9" [ngClass]="{ 'loading-container': isLoading }">
                  <!-- <div *ngIf="!isLoading" class="col-2">
                    <mat-icon class="list-item-icon">people_outline</mat-icon>
                  </div> -->
                  <div *ngIf="!isLoading" class="col-10 fw-semibold">
                    <!-- <label class="ms-1">{{currentTeam.name}}</label> -->
                     <label class="ms-1">Teams</label>
                     
                    <!-- <span class="team-dropdown-arrow material-symbols-outlined">
                      keyboard_arrow_down
                    </span> -->
                  </div>
                </div>

                <!-- Team Payment Tier -->
                <div class="col-3 ms-1" [ngClass]="{ 'loading-container': isLoading }">
                  <span class="team-dropdown-arrow material-symbols-outlined" >
                      add
                    </span>
                  <!-- <label *ngIf="!isLoading" class="payment-tier">Free</label> -->
                </div>
              </div>
              
              <!-- Team Content Options -->
              <div class="team-section">
                <ul class="sidenav-list" [ngClass]="{ 'loading-container': isLoading }">
                  <li class="list-item">
                    <label class="ms-1">{{currentTeam.name}}</label>
                  </li>
                  <!-- <li class="list-item" (click)="draftsClicked()">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon ">insert_drive_file</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Drafts</label>
                  </li> -->
                  <!-- <li class="list-item" (click)="allProjectsClicked()" [ngClass]="{ 'loading-container': isLoading }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">grid_view</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">All Projects</label>
                  </li> -->
                </ul>
              </div>
              <hr class="ms-2 horizontal-line">

              <!-- Templates & Tools Section -->
              <div>
                <ul class="sidenav-list">
                  <!-- <li class="list-item disabled" [ngClass]="{ 'loading-container': isLoading }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">view_quilt</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Templates</label>
                  </li> -->
                  <!-- Frogmarks Galaxy List Item -->
                  <!-- <li class="list-item disabled" [ngClass]="{ 'loading-container': isLoading }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">public</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Frogmarks Galaxy</label>
                  </li> -->
                  <!-- Import List Item -->
                  <!-- <li class="list-item disabled">
                      <mat-icon class="list-item-icon">file_upload</mat-icon>
                      <label class="ms-1">Import Board</label>
                  </li> -->
                </ul>
              </div>
              <!-- <hr class="ms-2 horizontal-line"> -->
              <div class="socials-list" style="height: max-content; justify-content: end;">
                <ul class="sidenav-list">
                  <li class="list-item" [ngClass]="{ 'loading-container': isLoading }">
                    <a href="https://discord.gg/wmEbYgwTz5" target="_blank" class="list-link">
                        <mat-icon *ngIf="!isLoading" class="list-item-icon" style="color: rgb(145, 123, 255);">discord</mat-icon>
                        <label *ngIf="!isLoading" style="color: rgb(184, 170, 255);" class="ms-1">Join our discord</label>
                    </a>
                  </li>
                  <li class="list-item" [ngClass]="{ 'loading-container': isLoading }">
                    <a href="https://www.instagram.com/frogmarks/" target="_blank" class="list-link">
                      <mat-icon *ngIf="!isLoading" class="list-item-icon" style="color: rgb(255, 0, 166);">photo_camera</mat-icon>
                      <label *ngIf="!isLoading" class="ms-1" style="color: rgb(255, 83, 195);">Follow us on instagram</label>
                    </a>
                  </li>
                  <li class="list-item"
                      (click)="archivedClicked()"
                      [ngClass]="{ 'loading-container': isLoading, 'archived-filter-active': isArchivedFilterActive }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">inventory_2</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Archive</label>
                  </li>
                  <li class="list-item" 
                  (click)="updatesClicked()"
                  [ngClass]="{ 'loading-container': isLoading }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">newspaper</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Updates</label>
                  </li>
                  <li class="list-item" [ngClass]="{ 'loading-container': isLoading }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">help</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Help & Feedback</label>
                  </li>
                  <!-- Frogmarks Galaxy List Item -->
                  <!-- <li class="list-item disabled" [ngClass]="{ 'loading-container': isLoading }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon">public</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Frogmarks Galaxy</label>
                  </li> -->
                  <!-- Import List Item -->
                  <!-- <li class="list-item disabled">
                      <mat-icon class="list-item-icon">file_upload</mat-icon>
                      <label class="ms-1">Import Board</label>
                  </li> -->
                </ul>
              </div>

              <!-- Pinned Items Section -->
              <!--
              <div style="text-align: center;">
                <ul class="sidenav-list">
                  <li class="list-item disabled" [ngClass]="{ 'loading-container': isLoading }">
                    <mat-icon *ngIf="!isLoading" class="list-item-icon material-symbols-outlined">keep</mat-icon>
                    <label *ngIf="!isLoading" class="ms-1">Pinned</label>
                  </li>
                </ul>
              </div>
              -->
            </div>
        </div>

        <!-- Base Work-Pane -->
        <div class="col-10 base-work-pane mb-2" 
             [class.design-center-content]="!isFrogmarksGalaxyActive"
             style="max-height: min-content;">
          
          <!-- Expand/Collapse Button for the Side Panel on mobile -->
          <div class="sidenav-toggle-button" [ngClass]="{ 'sidenav-toggle-button-expanded': isSidenavOpen }">
            <mat-icon 
            class="d-inline d-lg-none sidenav-toggle-button-icon"
            (click)="toggleSidenav()">
            {{ isSidenavOpen ? 'arrow_left' : 'arrow_right' }}
            </mat-icon>
          </div>

          <!-- Header toolbar for the Base Work Pane -->
          <div *ngIf="!isFrogmarksGalaxyActive && !isUpdatesActive" class="row header-row" [ngClass]="{ 'loading-container': isLoading }">
            <!-- Search Column -->
            <div class="col-6">
              <div *ngIf="!isLoading" class="search-wrapper ms-1">
                <mat-icon class="search-icon">search</mat-icon>
                <input
                  class="search-bar"
                  matInput
                  placeholder="Search for anything"
                  type="text"
                  [matAutocomplete]="filteredSearchItems.length ? auto : null"
                  [formControl]="searchControl"
                  (input)="onSearch()"
                />
                
                
              </div>
            </div>
            <!-- Actions & Settings Column -->
            <div class="col-6 text-end text-nowrap row-padding-right-negation">
              <button [hidden]="!isTeamSelected" *ngIf="!isLoading" (click)="openInviteDialog()" class="ms-3 align-top desktop-button" mat-stroked-button>
                <mat-icon>add</mat-icon>
                Invite members
              </button>
              <button [hidden]="!isTeamSelected" style="color: rgb(192, 192, 192) !important; background-color: black !important;" *ngIf="!isLoading" class="ms-3 align-top desktop-button" mat-raised-button (click)="openUpgradeDialog()">
                <span>Upgrade</span>
              </button>
              <button *ngIf="!isLoading" class="ms-2 align-top header-action-button-first" mat-icon-button (click)="showNotificationPanel=true"><mat-icon>notifications_none</mat-icon></button>
              <button *ngIf="!isLoading" class="align-top header-action-button" mat-icon-button (click)="showSettingsPanel=true;"><mat-icon>settings</mat-icon></button>
              <button *ngIf="!isLoading" class="align-top header-action-button" mat-icon-button><mat-icon>person</mat-icon></button>
            </div>

          </div>

          <!-- Row: Add new file in Design Center -->
          <div class="d-flex pe-1 container-fluid gap-2 pt-3 fw-normal new-file-row" *ngIf="isDesignCenterActive">
            <!-- New Board File -->
            <div class="new-design-item-container position-relative overflow-hidden flex-grow-1" (click)="newBoardButtonClicked()" [ngClass]="{ 'loading-container': isLoading }">
              <div class="row ms-0 me-0">
                <div class="col-3 col-md-2 align-content-center">
                  <mat-icon *ngIf="!isLoading" class="dark-icon">add</mat-icon>
                </div>
                <div class="col-9 col-md-9 text-start">
                  <label *ngIf="!isLoading" class="new-design-item-title">New whiteboard</label>
                  <br>
                  <label *ngIf="!isLoading" class="new-design-item-subtitle fw-bold">Doodle with friends!</label>
                </div>
              </div>
              <!-- Button Design -->
              <div style="position:absolute; right: 10; bottom: 7">
                <span class="material-symbols-outlined new-design-item-button-chevron">
                    interests
                </span>
              </div>
            </div>

            <!-- New Slide Deck File -->
            <div class="new-design-item-container position-relative overflow-hidden flex-grow-1" (click)="newIllustrationButtonClicked()" [ngClass]="{ 'loading-container': isLoading }">
              <div class="row ms-0 me-0">
                <div class="col-3 col-md-2 align-content-center">
                  <mat-icon *ngIf="!isLoading" class="dark-icon">add</mat-icon>
                </div>
                <div class="col-9 col-md-9 text-start">
                  <label *ngIf="!isLoading" class="new-design-item-title">New illustration</label>
                  <label *ngIf="!isLoading" class="ms-2 ps-1 pe-1 new-design-item-title coming-soon">coming soon</label>
                  <br>
                  <label *ngIf="!isLoading" class="new-design-item-subtitle fw-bold">Draw a masterpiece together :)</label>
                </div>
              </div>
              <!-- Button Design -->
              <div style="position:absolute; right: 10; bottom: 7">
                <span class="material-symbols-outlined new-design-item-button-chevron">
                    draw
                </span>
              </div>
            </div>

            <!-- New Design File -->
            <div class="new-design-item-container position-relative overflow-hidden flex-grow-1" [ngClass]="{ 'loading-container': isLoading }">
              <div class="row ms-0 me-0">
                <div class="col-3 col-md-2 align-content-center">
                  <mat-icon *ngIf="!isLoading" class="dark-icon">add</mat-icon>
                </div>
                <div class="col-9 col-md-9 text-start">
                  <label *ngIf="!isLoading" class="new-design-item-title">New animation</label>
                  <label *ngIf="!isLoading" class="ms-2 ps-1 pe-1 new-design-item-title coming-soon">coming soon</label>
                  <br>
                  <label *ngIf="!isLoading" class="new-design-item-subtitle fw-bold">Collaborative animation!?</label>
                </div>
              </div>
              <!-- Button Design -->
              <div style="position:absolute; right: 10; bottom: 7">
                <span class="material-symbols-outlined new-design-item-button-chevron">
                    animated_images
                </span>
              </div>
            </div>

            <!-- Import File -->
            <div class="new-design-item-container position-relative overflow-hidden flex-grow-1 d-none d-xl-block"
                 (click)="importFrogFile()"
                 [ngClass]="{ 'loading-container': isLoading }"
                 style="cursor: pointer;">
              <div class="row ms-0 me-0">
                <div class="col-3 col-md-2 align-content-center">
                  <mat-icon *ngIf="!isLoading" class="dark-icon">add</mat-icon>
                </div>
                <div class="col-9 col-md-9 text-start">
                  <label *ngIf="!isLoading" class="new-design-item-title">Import</label>
                  <br>
                  <label *ngIf="!isLoading" class="new-design-item-subtitle fw-bold">Open a .frog file</label>
                </div>
              </div>
              <!-- Button Design -->
              <div style="position:absolute; right: 10; bottom: 7">
                <span class="material-symbols-outlined new-design-item-button-chevron">
                    upload
                </span>
              </div>
            </div>

          </div>

          <!-- Saved Templates for Quick Access in Design Center -->
          <div hidden *ngIf="!isFavoritesFilterActive && !isFrogmarksGalaxyActive" class="row pe-1 ps-5 pt-3 fw-normal saved-templates-section-container">
            <div class="row flow-container ps-0 pe-0">
              <label class="fw-semibold ms-1">
              <span class="ms-2" *ngIf="!isLoading">Pinned Art</span>
              </label>
              <div cdkDropList
                   class="d-flex flex-row"
                   (cdkDropListDropped)="onDrop($event)"
                   cdkDropListOrientation="horizontal">
                   <!--
                   (mousedown)="onDragFirstClick($event)"
                   (mouseup) ="onDragFirstClickRelease()"
                   -->
                <div class="p-2 col-2 draggable-template flex-grow-1"
                     *ngFor="let template of templates; let i = index"
                     cdkDrag
                     [cdkDragData]="template"
                     (cdkDragStarted)="onDragStart($event)"
                     (cdkDragMoved)="onDragging($event)"
                     (cdkDragReleased)="onDragReleased($event)"
                     (cdkDragEnded)="onDragEnd($event)"
                     [attr.data-id]="template.id"
                     [ngClass]="{ 
                      'shaking': isDragging && draggedTemplateId !== template.id.toString(),
                      'd-none d-xl-block': i >= templates.length - 3
                      }">
                  <div class="template-container shadow-sm" [ngClass]="{ 'loading-container': isLoading }">

                    <mat-icon [hidden]="isLoading" class="template-default-icon material-symbols-outlined">{{ template.icon }}</mat-icon>
                    <mat-icon *ngIf="!isLoading" class="draggable-indicator">drag_indicator</mat-icon>
                    <!--
                    <mat-icon *ngIf="mouseDownTemplateId == template.id.toString()" style="position: absolute; top: 2px; right: 1px; color: #9c9c9c; opacity: .3; ">drag_indicator</mat-icon>
                    -->
                  </div>
                  <div *cdkDragPlaceholder class="template-container">
                    <mat-icon class="template-default-icon material-symbols-outlined">{{ template.icon }}</mat-icon>
                  </div>
                  <div *cdkDragPreview class="template-container shadow">
                    <mat-icon class="template-default-icon material-symbols-outlined">{{ template.icon }}</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- File Explorer for Design Center -->
          <div *ngIf="!isFrogmarksGalaxyActive" class="row pt-3 fw-normal display-6 ps-4" >
            <!-- <span *ngIf="!isLoading && isDesignCenterActive">Design Center</span> -->
            <span *ngIf="!isLoading && isFavoritesFilterActive">My Files</span>
            <span *ngIf="!isLoading && isArchivedFilterActive">Archive</span>
            <span *ngIf="!isLoading && isUpdatesActive">Updates</span>
            <span *ngIf="!isLoading && isTemplatesActive">Templates</span>
          </div>

          <div *ngIf="isUpdatesActive" class="newspaper-container mt-4">
            <div class="newspaper-header text-center">
              <h1 class="masthead">FROGMARKS TIMES</h1>
              <div class="issue-date">TUESDAY, AUGUST 12 2025</div>
            </div>

            <hr class="thick-line" />

            <div class="headline text-center">
              Frogmarks Beta 0.1.0 is now live! Check out the new features and improvements.
            </div>

            <div class="article-columns">
              <div class="column">
                <h2>Breaking News</h2>
                <p>Whiteboards are live for freeform doodling and brainstorming!</p>
                <p>Illustrations for mixed vector+raster layers, custom brushes, and advanced tooling is coming soon!</p>
              </div>

              <div class="column">
                <h2>Community Spotlight</h2>
                <p>If you are reading this, thank you for visiting the beta site!</p>
                <p>Frogmarks is being built with love and care by a team of one, so your support is invaluable.</p>
              </div>
            </div>
          </div>

          <div *ngIf="isDesignCenterActive" class="mobile-chips-row row pe-4 fw-normal display-6">
            <div class="col-4" [ngClass]="{ 'loading-container': isLoading }">
              <mat-chip-set class="mobile-chips">
                <mat-chip *ngIf="!isLoading" [ngClass]="currentRecentCreationsTab === 1 ? 'selected-chip' : 'unselected-chip'"
                          (click)="setRecentCreationsTab(1)">Recently viewed</mat-chip>
                <mat-chip *ngIf="!isLoading" [ngClass]="currentRecentCreationsTab === 2 ? 'selected-chip' : 'unselected-chip'"
                          (click)="setRecentCreationsTab(2)">Shared files</mat-chip>
                <mat-chip *ngIf="!isLoading" [ngClass]="currentRecentCreationsTab === 3 ? 'selected-chip' : 'unselected-chip'"
                          (click)="setRecentCreationsTab(3)">Shared projects</mat-chip>
              </mat-chip-set>
            </div>
            <div class="col-8 filter-chips-col">
              <mat-chip-set class="filter-chips" *ngIf="!isLoading">

                <!-- Should only appear if user has multiple teams -->
                <span *ngIf="teams.length > 1" class="align-content-center">
                  <mat-chip *ngIf="!isLoading" class="teamname-dropdown-chip file-filter-chip">
                    All teams
                  </mat-chip>
                  <span class="sortorder-dropdown-arrow material-symbols-outlined">
                    keyboard_arrow_down
                  </span>
                </span>

                <span class="align-content-center" (click)="toggleFileTypeDropdown()">
                  <mat-chip *ngIf="!isLoading" class="filetype-dropdown-chip file-filter-chip">
                    All files
                  </mat-chip>
                  <span class="filetype-dropdown-arrow material-symbols-outlined">
                    keyboard_arrow_down
                  </span>
                  <div [hidden]="!showFileTypeDropdown" (click)="$event.stopPropagation()" class="menu-container">
                    <div class="menu-content ms-3 ps-4 pt-2 pb-2 shadow">

                      <div class="row pb-2 menu-header">File type</div>

                      <div class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': fileType == 0 }"
                           [@slideInOut]="fileType == 0 ? 'flash-in' : 'out'"
                           (click)="changeFileType(0)">
                        All files
                      </div>

                      <div class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': fileType == 1 }"
                           [@slideInOut]="fileType == 1 ? 'flash-in' : 'out'"
                           (click)="changeFileType(1)">
                        Boards
                      </div>

                      <div class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': fileType == 2 }"
                           [@slideInOut]="fileType == 2 ? 'flash-in' : 'out'"
                           (click)="changeFileType(2)">
                        Illustrations
                      </div>

                      <div class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': fileType == 3 }"
                           [@slideInOut]="fileType == 3 ? 'flash-in' : 'out'"
                           (click)="changeFileType(3)">
                        Animations
                      </div>

                    </div>
                  </div>
                </span>

                <span class="align-content-center ms-0" (click)="toggleSortOrderDropdown()">
                  <mat-chip *ngIf="!isLoading" class="sortorder-dropdown-chip file-filter-chip ms-0">
                    {{sortOrderDropdownText[sortBy]}}
                  </mat-chip>
                  <span class="sortorder-dropdown-arrow material-symbols-outlined">
                    keyboard_arrow_down
                  </span>
                  <div [hidden]="!showSortOrderDropdown" (click)="$event.stopPropagation()" class="menu-container">
                    <div class="menu-content ms-3 ps-4 pt-2 pb-2 shadow">

                      <div class="row pb-2 menu-header">Sort by</div>

                      <div class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': sortBy == 0 }"
                           [@slideInOut]="sortBy == 0 ? 'flash-in' : 'out'"
                           (click)="sort(0)">
                        Alphabetical
                      </div>

                      <div class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': sortBy == 1 }"
                           [@slideInOut]="sortBy == 1 ? 'flash-in' : 'out'"
                           (click)="sort(1)">
                        Date created
                      </div>

                      <div class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': sortBy == 2 }"
                           [@slideInOut]="sortBy == 2 ? 'flash-in' : 'out'"
                           (click)="sort(2)">
                        Last viewed
                      </div>

                      <hr class="menu-divider">

                      <div class="row pb-2 menu-header">Order</div>

                      <div *ngIf="sortBy!=0" class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': orderBy == 0 }"
                           [@slideInOut]="orderBy == 0 ? 'flash-in' : 'out'"
                           (click)="order(0)">
                        Oldest first
                      </div>

                      <div *ngIf="sortBy==0" class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': orderBy == 0 }"
                           [@slideInOut]="orderBy == 0 ? 'flash-in' : 'out'"
                           (click)="order(0)">
                        A-Z
                      </div>

                      <div *ngIf="sortBy!=0" class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': orderBy == 1 }"
                           [@slideInOut]="orderBy == 1 ? 'flash-in' : 'out'"
                           (click)="order(1)">
                        Newest first
                      </div>

                      <div *ngIf="sortBy==0" class="row mb-1 pb-1 pt-1 me-0 ps-3 dropdown-option"
                           [ngClass]="{ 'selected-dropdown-option': orderBy == 1 }"
                           [@slideInOut]="orderBy == 1 ? 'flash-in' : 'out'"
                           (click)="order(1)">
                        Z-A
                      </div>

                    </div>
                  </div>
                </span>

                <button (click)="gridViewClicked()"
                        class="ms-1 align-bottom file-filter-grid"
                        [ngClass]="{ 'grid-view-selected': viewType == 'grid' }"
                        mat-icon-button>
                  <mat-icon>grid_view</mat-icon>
                </button>
                <button (click)="listViewClicked()"
                        class="align-bottom file-filter-list"
                        [ngClass]="{ 'list-view-selected': viewType == 'list' }"
                        mat-icon-button>
                  <mat-icon>menu</mat-icon>
                </button>
              </mat-chip-set>
            </div>
          </div>

          <!-- List Items View -->
          <div *ngIf="viewType == 'grid' && !isFrogmarksGalaxyActive" class="row pe-1 ps-4 pe-1 pt-3 fw-normal">
            <div *ngIf="filteredListItems.length == 0 && !isLoadingItems"
                 [ngClass]="{ 'loading-container': isLoading }"
                 class="row ms-1 files-container justify-content-center align-content-center"
                 style="height: 400px; width: 100%; color:var(--text-color); background-color: var(--background-color); font-size: 22px; font-weight: 800;">
              <label class="text-center me-5" *ngIf="!isLoading && !isArchivedFilterActive">
                Couldn't find any matches. Try adjusting your filters.
              </label>
              <label class="text-center" *ngIf="!isLoading && isArchivedFilterActive">
                <div style="background-color: var(--selected-chip-color); padding: 8px; max-width: min-content; justify-self: center; border-radius: 4px; margin-bottom: 4px;">
                  <mat-icon>delete_forever</mat-icon>
                </div>
                Your trash can is empty.<br/>
                <span style="height: 400px; width: 100%; color:var(--text-color); background-color: var(--background-color); font-size: 16px; font-weight: 400;">Here you can restore or permanently delete your archived items.</span>
                 
              </label>
            </div>

            <div *ngIf="!isLoading && filteredListItems.length > 0" class="grid-container">
              <div class="grid-item mb-2 me-2"
                   *ngFor="let listItem of filteredListItems; trackBy: trackByUuid"
                   (click)="listItemSelected($event, listItem.uuid)"
                   (dblclick)="listItemDoubleClicked($event, listItem)"
                   (contextmenu)="openBoardMenu($event, listItem)"
                   [ngClass]="{ 'selected': selectedItems.has(listItem.uuid) }">
                <div class="image-wrapper shadow-sm" style="border-radius: 10px;" [ngStyle]="{'background-color': 'assignListItemColorWhite(i)'}">
                  <img [src]="listItem.thumbnailUrl && listItem.thumbnailUrl !== '' ? listItem.thumbnailUrl : 'https://placehold.jp/ffffff/ffffff/150x150.png'"
                    class="thumbnail-img">
                  <mat-icon class="type-icon material-symbols-outlined">draw</mat-icon> <!-- Change 'favorite' to your desired icon -->
                  <div class="favorite-icon-wrapper">
                    <mat-icon class="favorite-icon HeartAnimation"
                              [ngClass]="{ 'material-symbols-outlined': !isFavorite(listItem.uuid), 'favorited-icon': isFavorite(listItem.uuid), 'heart-animate': isFavorite(listItem.uuid) }"
                              (click)="toggleFavorite(listItem.uuid, listItem)">
                    </mat-icon> <!-- Change 'favorite' to your desired icon -->
                  </div>
                </div>
                <!-- Normal (not editing) -->
                <div (dblclick)="startInlineRename(listItem)" class="mt-1 flex-grow-1 text-start fw-bold" style="font-size: 12px;" *ngIf="editingId !== listItem.uuid">
                  {{ listItem.name }}<br/>
                  <span class="fw-bold edited-time">Edited {{ listItem.dateModified | date:'short' }}</span>
                </div>

                <!-- Editing -->
                <div class="mt-1 flex-grow-1" *ngIf="editingId === listItem.uuid" style="max-width: 260px;">
                  <input #renameInput
                        class="rename-input"
                        [formControl]="nameControl"
                        (keydown.enter)="commitInlineRename(listItem)"
                        (keydown.escape)="cancelInlineRename()"
                        (blur)="commitInlineRename(listItem)" />
                  <div style="font-size: 11px; opacity:.7; margin-top:4px; margin-left: 3px;">Enter to save • Esc to cancel</div>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="viewType == 'list'" class="row pe-4 ps-4 pe-1 pt-3 fw-normal" style="margin-right:-35px;">

            <div *ngIf="filteredListItems.length == 0 && !isLoadingItems"
                 [ngClass]="{ 'loading-container': isLoading }"
                 class="row ms-1 files-container justify-content-center align-content-center"
                 style="height: 400px; width: 100%; font-size: small; color:var(--text-color); background-color: var(--background-color);">
              <label class="text-center me-5" *ngIf="!isLoading && !isArchivedFilterActive">
                Couldn't find any matches. Try adjusting your filters.
              </label>
            </div>

            <div *ngIf="!isLoading && filteredListItems.length > 0" class="list-container">
              <div class="list-item board-item"
                  *ngFor="let listItem of filteredListItems; let i = index"
                  (click)="listItemSelected($event, listItem.uuid)"
                  (dblclick)="listItemDoubleClicked($event, listItem)"
                  (contextmenu)="openBoardMenu($event, listItem)"
                  [ngClass]="{ 'selected': selectedItems.has(listItem.uuid) }">

                <div class="list-image-wrapper shadow-sm d-flex align-items-center" 
                    style="border-radius: 10px;" 
                    [ngStyle]="{'background-color': 'assignListItemColorWhite(i)'}">

                  <!-- Image on left -->
                  <div style="flex: 0 0 80px;">
                    <img [src]="listItem.thumbnailUrl && listItem.thumbnailUrl !== '' 
                                ? listItem.thumbnailUrl 
                                : 'https://placehold.jp/ffffff/ffffff/150x150.png'"
                        class="thumbnail-img" 
                        style="width: 80px; height: auto; border-radius: 6px;">
                  </div>

                  <!-- Text on right -->
                  <div class="ms-3 flex-grow-1 text-start fw-bold" style="font-size: 12px;">
                    {{ listItem.name }}<br/>
                    <span class="fw-bold" class="edited-time">Edited {{ listItem.dateModified | date:'short' }}</span>
                  </div>

                  <!-- Icons -->
                  <mat-icon class="type-icon material-symbols-outlined ms-auto">draw</mat-icon>

                  <div class="favorite-icon-wrapper ms-2">
                    <mat-icon class="favorite-icon HeartAnimation"
                              [ngClass]="{ 
                                  'material-symbols-outlined': !isFavorite(listItem.uuid), 
                                  'favorited-icon': isFavorite(listItem.uuid), 
                                  'heart-animate': isFavorite(listItem.uuid) 
                              }"
                              (click)="toggleFavorite(listItem.uuid, listItem)">
                    </mat-icon>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Frogmarks Galaxy -->
          <div style="background-color: transparent; position: absolute; width: -webkit-fill-available; margin-right: 0px;" *ngIf="isFrogmarksGalaxyActive" [ngClass]="{ 'loading-container': isLoading }">
            <!-- <div class="col-6">
              <div class="row mt-2 fs-6 fw-bold">
                <div class="col-1" style="color: var(--text-color-high-contrast);">
                  Explore
                </div>
                <div class="col-1 ms-4">
                  Feed
                </div>
                <div class="col-1">
                  Notifications
                </div>
              </div>
              <div *ngIf="!isLoading" class="search-wrapper ms-1">
                
              </div>
              
            </div>
            <div class="col-6 text-end text-nowrap" style="padding-right: 42px;">
              <button [hidden]="!isTeamSelected" *ngIf="!isLoading" (click)="openInviteDialog()" class="ms-3 align-top desktop-button" mat-stroked-button style="background-color:#000000 !important; color: white !important;">
                <mat-icon>add</mat-icon>
                Invite members
              </button>
              <button [hidden]="!isTeamSelected" *ngIf="!isLoading" class="ms-3 align-top desktop-button" mat-raised-button (click)="openUpgradeDialog()">
                Upgrade
              </button>
              <button *ngIf="!isLoading" class="ms-2 align-top" style="margin-top: -5px" mat-icon-button (click)="showNotificationPanel=true"><mat-icon style="color:white">notifications_none</mat-icon></button>
              <button *ngIf="!isLoading" class="align-top" style="margin-top: -5px; margin-left: -10px;" mat-icon-button (click)="showSettingsPanel=true;"><mat-icon style="color:white">settings</mat-icon></button>
              <button *ngIf="!isLoading" class="align-top" style="margin-top: -5px; margin-left: -10px;" mat-icon-button><mat-icon style="color:white">person</mat-icon></button>
            </div> -->
            <app-explore-feed></app-explore-feed>
          </div>

          <!-- Templates Selected -->
          <div style="background-color: transparent; position: absolute; width: -webkit-fill-available; margin-right: 0px;" *ngIf="isTemplatesActive" class="row header-row" [ngClass]="{ 'loading-container': isLoading }">
            
            
            
          </div>

         

          <!-- <div *ngIf="isFrogmarksGalaxyActive" style="margin-left: -10px !important; margin-right: -50px !important;">
            <span style="color: white; position: absolute; font-weight: bold; font-size: 36px; left: 18%; top: 8%; font-family:monospace; color: #00ffdd; text-shadow: #00ffdd 0px 0px 24px;">Frogmarks Galaxy is coming soon.</span>
            <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.73/build/spline-viewer.js" async></script>
            <iframe src='https://my.spline.design/turantable-068dbd20c082e6d1372cc7327a71e1fe?v=3' frameborder='0' width='100%' height='100%'></iframe>
          </div> -->

        </div>
        <!-- Context menu -->
        <div *ngIf="contextMenu.visible && !isArchivedFilterActive"
            class="board-context-menu shadow-sm"
            [style.left.px]="contextMenu.x"
            [style.top.px]="contextMenu.y"
            role="menu"
            (click)="$event.stopPropagation()">

          <button class="menu-item" role="menuitem" (click)="openItemInNewTab(contextMenu.item)">
            <mat-icon class="menu-icon mt-1">open_in_new</mat-icon>
            Open in new tab
          </button>
          <hr class="mt-1 mb-1"/>
          <button (click)="copyItemLink(contextMenu.item)" class="menu-item" role="menuitem">
            <mat-icon class="menu-icon mt-1">link</mat-icon>
            Copy Link
          </button>
          <button (click)="duplicateItem(contextMenu.item)" class="menu-item" role="menuitem">
            <mat-icon class="menu-icon mt-1">file_copy</mat-icon>
            Duplicate
          </button>
          <button class="menu-item" role="menuitem" (click)="startInlineRename(contextMenu.item)">
            <mat-icon class="menu-icon mt-1">text_fields</mat-icon>
            Rename
          </button>
          <hr class="mt-1 mb-1"/>
          <button class="menu-item" role="menuitem" (click)="onArchiveItem(contextMenu.item)">
            <mat-icon class="menu-icon">inventory_2</mat-icon>
            Archive
          </button>
        </div>

        <div *ngIf="contextMenu.visible && isArchivedFilterActive"
            class="board-context-menu shadow-sm"
            [style.left.px]="contextMenu.x"
            [style.top.px]="contextMenu.y"
            role="menu"
            (click)="$event.stopPropagation()">
          <button class="menu-item" role="menuitem" (click)="onUnarchiveBoard(contextMenu.item)">
            <mat-icon class="menu-icon mt-1">unarchive</mat-icon>
            Restore
          </button>
          <button class="menu-item deletion-menu-item" role="menuitem" (click)="onDeleteBoard(contextMenu.item)">
            <mat-icon class="menu-icon mt-1">local_fire_department</mat-icon>
            Delete Permanently
          </button>
        </div>

        <mat-autocomplete
        #auto="matAutocomplete"
        panelClass="search-auto-panel"
        [class.search-auto-empty]="!filteredSearchItems.length">
          <!-- Update item.name based on item structure -->
          <mat-option
            class="autocomplete-dropdown-content"
            *ngFor="let item of filteredSearchItems"
            [value]="item.name"
            (click)="onOptionSelected(item)"
          >
            {{ item.name }}
          </mat-option>
        </mat-autocomplete>
    </div>
    <div class="frogmarks-footer">
      <span class="ms-1 me-1 ps-3 pe-2" *ngFor="let text of frogmarksList; let i = index"
            [class.alt-bg]="i % 2 === 1">
        {{ text }}
      </span>
    </div>
</div>

