<details class="scene3d-details" open *ngIf="rec as r">
    <summary>Particle Config</summary>

    <div class="scene3d-material-row">
        <label>Preset</label>
        <div class="scene3d-seg-btn-group">
            <button *ngFor="let p of PRESET_NAMES" type="button" class="scene3d-seg-btn"
                    (click)="applyPreset(r, p)">{{ p | titlecase }}</button>
        </div>
    </div>

    <div class="scene3d-vec3-row">
        <span class="scene3d-vec3-label">Pos</span>
        <input type="number" step="0.1" [(ngModel)]="r.posX" (change)="onPositionChange(r)" title="X">
        <input type="number" step="0.1" [(ngModel)]="r.posY" (change)="onPositionChange(r)" title="Y">
        <input type="number" step="0.1" [(ngModel)]="r.posZ" (change)="onPositionChange(r)" title="Z">
    </div>

    <!-- Emission -->
    <div class="scene3d-sub-header">Emission</div>
    <div class="scene3d-material-row">
        <label>Rate</label>
        <input type="range" min="1" max="500" step="1" [(ngModel)]="r.emitRate" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.emitRate }}</span>
    </div>
    <div class="scene3d-material-row">
        <label>Max</label>
        <input type="range" min="10" max="2000" step="10" [(ngModel)]="r.maxParticles" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.maxParticles }}</span>
    </div>
    <div class="scene3d-toggle-row">
        <label>Loop</label>
        <input type="checkbox" [(ngModel)]="r.loop" (change)="onConfigChange(r)">
    </div>
    <div class="scene3d-material-row">
        <label>Direction</label>
        <div class="scene3d-seg-btn-group">
            <button *ngFor="let p of DIRECTION_PRESETS" type="button" class="scene3d-seg-btn"
                    [class.active]="isDirection(r, p.dir)"
                    (click)="applyDirectionPreset(r, p.dir)">{{ p.label }}</button>
        </div>
    </div>
    <div class="scene3d-vec3-row">
        <span class="scene3d-vec3-label">Dir</span>
        <input type="number" step="0.1" min="-1" max="1" [(ngModel)]="r.dirX" (change)="onDirectionChange(r)" title="X">
        <input type="number" step="0.1" min="-1" max="1" [(ngModel)]="r.dirY" (change)="onDirectionChange(r)" title="Y">
        <input type="number" step="0.1" min="-1" max="1" [(ngModel)]="r.dirZ" (change)="onDirectionChange(r)" title="Z">
    </div>
    <div class="scene3d-material-row">
        <label>Spread</label>
        <input type="range" min="0" max="180" step="1" [(ngModel)]="r.spreadDeg" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.spreadDeg }}°</span>
    </div>

    <!-- Lifetime & Speed -->
    <div class="scene3d-sub-header">Lifetime &amp; Speed</div>
    <div class="scene3d-material-row">
        <label>Life min</label>
        <input type="range" min="0.1" max="20" step="0.1" [(ngModel)]="r.lifetimeMin" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.lifetimeMin | number:'1.1-1' }}s</span>
    </div>
    <div class="scene3d-material-row">
        <label>Life max</label>
        <input type="range" min="0.1" max="20" step="0.1" [(ngModel)]="r.lifetimeMax" (input)="clampLifetimeMax(r)">
        <span class="scene3d-val">{{ r.lifetimeMax | number:'1.1-1' }}s</span>
    </div>
    <div class="scene3d-material-row">
        <label>Speed min</label>
        <input type="range" min="0" max="10" step="0.05" [(ngModel)]="r.speedMin" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.speedMin | number:'1.2-2' }}</span>
    </div>
    <div class="scene3d-material-row">
        <label>Speed max</label>
        <input type="range" min="0" max="10" step="0.05" [(ngModel)]="r.speedMax" (input)="clampSpeedMax(r)">
        <span class="scene3d-val">{{ r.speedMax | number:'1.2-2' }}</span>
    </div>

    <!-- Size -->
    <div class="scene3d-sub-header">Size</div>
    <div class="scene3d-material-row">
        <label>Start min</label>
        <input type="range" min="0.01" max="5" step="0.01" [(ngModel)]="r.startSizeMin" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.startSizeMin | number:'1.2-2' }}</span>
    </div>
    <div class="scene3d-material-row">
        <label>Start max</label>
        <input type="range" min="0.01" max="5" step="0.01" [(ngModel)]="r.startSizeMax" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.startSizeMax | number:'1.2-2' }}</span>
    </div>
    <div class="scene3d-material-row">
        <label>End min</label>
        <input type="range" min="0" max="5" step="0.01" [(ngModel)]="r.endSizeMin" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.endSizeMin | number:'1.2-2' }}</span>
    </div>
    <div class="scene3d-material-row">
        <label>End max</label>
        <input type="range" min="0" max="5" step="0.01" [(ngModel)]="r.endSizeMax" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.endSizeMax | number:'1.2-2' }}</span>
    </div>

    <!-- Colour -->
    <div class="scene3d-sub-header">Colour</div>
    <div class="scene3d-material-row">
        <label>Birth</label>
        <input type="color" [(ngModel)]="r.startColorHex" (input)="onConfigChange(r)">
        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="r.startAlpha" (input)="onConfigChange(r)" title="Alpha">
        <span class="scene3d-val">{{ r.startAlpha | number:'1.2-2' }}</span>
    </div>
    <div class="scene3d-material-row">
        <label>Death</label>
        <input type="color" [(ngModel)]="r.endColorHex" (input)="onConfigChange(r)">
        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="r.endAlpha" (input)="onConfigChange(r)" title="Alpha">
        <span class="scene3d-val">{{ r.endAlpha | number:'1.2-2' }}</span>
    </div>

    <!-- Physics -->
    <div class="scene3d-sub-header">Physics</div>
    <div class="scene3d-vec3-row">
        <span class="scene3d-vec3-label">Grav</span>
        <input type="number" step="0.05" min="-10" max="10" [(ngModel)]="r.gravX" (change)="onConfigChange(r)" title="X">
        <input type="number" step="0.05" min="-10" max="10" [(ngModel)]="r.gravY" (change)="onConfigChange(r)" title="Y">
        <input type="number" step="0.05" min="-10" max="10" [(ngModel)]="r.gravZ" (change)="onConfigChange(r)" title="Z">
    </div>
    <div class="scene3d-material-row">
        <label>Turbulence</label>
        <input type="range" min="0" max="2" step="0.01" [(ngModel)]="r.turbulence" (input)="onConfigChange(r)">
        <span class="scene3d-val">{{ r.turbulence | number:'1.2-2' }}</span>
    </div>

    <!-- Texture -->
    <div class="scene3d-sub-header">Texture</div>
    <div class="scene3d-toggle-row">
        <label>Flipbook</label>
        <input type="checkbox" [(ngModel)]="r.useFlipbook" (change)="onConfigChange(r)">
    </div>
    <div class="scene3d-material-row" *ngIf="!r.useFlipbook">
        <label>Layer</label>
        <input type="number" class="scene3d-input-small" min="0" step="1" [(ngModel)]="r.textureIndex" (change)="onConfigChange(r)">
    </div>
    <ng-container *ngIf="r.useFlipbook">
        <div class="scene3d-material-row pe-frame-row" *ngFor="let frame of r.animTextures; let i = index">
            <label>Frame {{ i + 1 }}</label>
            <span class="pe-frame-id" [title]="frame">{{ frame }}</span>
            <button type="button" class="scene3d-btn scene3d-btn-sm" (click)="removeFlipbookFrame(r, i)" title="Remove frame">✕</button>
        </div>
        <div class="scene3d-material-row">
            <label>Add frame</label>
            <input class="scene3d-input-small pe-frame-input" placeholder="Texture ID"
                   [(ngModel)]="r.addFrameDraft" (keydown.enter)="addFlipbookFrame(r)">
            <button type="button" class="scene3d-btn scene3d-btn-sm" (click)="addFlipbookFrame(r)">Add</button>
        </div>
        <div class="scene3d-material-row">
            <label>Frame time</label>
            <input type="range" min="0.033" max="1" step="0.033" [(ngModel)]="r.animFrameTime" (input)="onConfigChange(r)">
            <span class="scene3d-val">{{ r.animFrameTime | number:'1.2-2' }}s</span>
        </div>
    </ng-container>
</details>
