<h3 mat-dialog-title class="border border-dark" style="margin-top: -24px; background-color: rgb(0, 0, 0); color: white">
    <div class="row">
      <div class="col-6">
        Upgrade
      </div>
      <div class="col-6 text-end">
        
      </div>
    </div>
  </h3>
  <form class="upgrade-modal" style="background-color: rgb(8, 8, 8);">
    <div mat-dialog-content style="color: white;">
      <!-- Invite Link Section -->
      <div class="invite-link">
        <div style="font-size: 14px; text-align: center !important;" class="fw-bold mb-3" for="invite-link">
            <h3><b>Choose the right plan for your team.</b></h3>
        </div>
        <div class="link-container row p-2">
          <div class="col-4" style="background-color: #000000; border: 1px solid rgb(68, 68, 68); border-right: 1px solid rgb(0, 48, 150)">
            <div class="rounded p-2">
                <h5 class="mb-3 mt-2"><b>Starter</b></h5>
                <button mat-raised-button class="mb-4" style="width: -webkit-fill-available; border: 1px solid rgb(38, 156, 44) !important; background-color: rgb(0, 25, 5) !important;">
                    Select Plan
                </button>
                <div class="mb-2">Features:<br></div>
                <ul class="checkmark-list">
                    <li>
                        Frogmarks editor
                    </li>
                    <li>
                        3 collaborative design files 
                    </li>
                    <li>
                        Unlimited personal drafts
                    </li>
                    <li>
                        Basic file inspection
                    </li>
                </ul>
            </div>
          </div>
          <div class="col-4" style="background-color: #000006; border: 2px solid rgb(0, 48, 150);">
            <div class="rounded p-2">
                <h5 class="mb-3 mt-2"><b>Professional</b><span style="color: rgb(50, 214, 255); margin-left: 14px; font-size: 12px; font-weight: 900;">Most popular</span></h5> 
                <button mat-raised-button class="mb-4" style="width: -webkit-fill-available; border: 1px solid rgb(0, 48, 150) !important; background-color: rgb(0, 1, 25) !important;">
                    Select Plan
                </button>
                <div class="mb-2">Everything in <b>Starter</b> plus:<br></div>
                <h5><b>Design</b></h5>
                <ul class="checkmark-list">
                    <li>
                        Unlimited Frogmarks files
                    </li>
                    <li>
                        Team libraries
                    </li>
                    <li>
                        Advanced Prototyping
                    </li>
                </ul>
                <h5><b>Dev Mode</b></h5>
                <ul class="checkmark-list">
                    <li>
                        View annotations
                    </li>
                    <li>
                        Advanced inspection
                    </li>
                    <li>
                        VS Code extension
                    </li>
                </ul>
                <h5><b>Admin</b></h5>
                <ul class="checkmark-list">
                    <li>
                        Unlimited version history
                    </li>
                    <li>
                        Shared and private projects
                    </li>
                </ul>
            </div>
          </div>
          <div class="col-4" style="background-color: #000000; border: 1px solid rgb(68, 68, 68); border-left: 1px solid rgb(0, 48, 150)">
            <div class="rounded p-2">
                <h5 class="mb-3 mt-2"><b>Enterprise</b></h5>
                <button mat-raised-button class="mb-4" style="width: -webkit-fill-available; border: 1px solid #cb2424 !important; background-color: rgb(25, 0, 0) !important;">
                    Select Plan
                </button>
                <div class="mb-2">Everything in <b>Professional</b> plus:<br></div>
                <h5><b>Design</b></h5>
                <ul class="checkmark-list">
                    <li>
                        Org-wide libraries
                    </li>
                    <li>
                        Design system analytics
                    </li>
                    <li>
                        Branching and merging
                    </li>
                </ul>
                <h5><b>Dev Mode</b></h5>
                <ul class="checkmark-list">
                    <li>
                        Private plugins
                    </li>
                </ul>
                <h5><b>Admin</b></h5>
                <ul class="checkmark-list">
                    <li>
                        Centralized file management
                    </li>
                    <li>
                        Unified admin and billing
                    </li>
                    <li>
                        Single sign-on
                    </li>
                </ul>
            </div>
            
          </div>
        </div>
      </div>
      <div>
        <div class="mt-2 text-center">
            Price per seat, per team. Viewers are always free. <u>Learn more about seats and permissions.</u>
          </div>
          <div class=" text-center">
            <u>See full feature list</u>
          </div>
      </div>
      
    </div>
  
    <!-- Dialog Actions -->
    <div mat-dialog-actions align="end">
      <button style="color: white" mat-button mat-dialog-close>Close</button>
    </div>
  </form>