<div style="max-height: 100vh; overflow: hidden;">
    <div class="email-bg" style="padding-top: 250px !important;">
        <div class="cye-card p-5 mx-auto shadow-lg" style="max-height: 50vw; width:500px; max-width: 80vw;">
            <div class="row">
                <div class="text-left p-1 fw-bold" style="font-size: 36px;">
                    Check your email
                </div>
            </div>
            <div class="row">
                <div class="text-left p-1 fw-normal" style="font-size: 20px;">
                    We’ve just sent you a unique sign-in link to your email: <b>{{email}}</b>
                </div>
            </div>
            <div class="row">
                <hr class="mt-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <img style="max-width: 12vw; margin-top: 100px; filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.65));" src="../../../../assets/images/undraw/undraw_mail_sent.svg">
        </div>
    </div>
    
</div>